[submodule "datastructures/adaptive-radix-tree"]
	path = datastructures/adaptive-radix-tree
	url = git@github.com:rafaelkallis/adaptive-radix-tree.git
[submodule "datastructures/CLHT"]
	path = datastructures/CLHT
	url = git@github.com:TUM-DSE/CHERI-CLHT.git
  branch = memsafedb
[submodule "datastructures/YCSB"]
	path = datastructures/YCSB
	url = git@github.com:Meandres/YCSB-cpp.git
  branch = memsafedb
[submodule "dbms/duckdb"]
	path = dbms/duckdb
	url = git@github.com:TUM-DSE/duckdb.git
  branch = memsafedb
[submodule "dbms/redis"]
	path = dbms/redis
	url = git@github.com:TUM-DSE/redis-memsafedb.git
[submodule "dbms/leveldb"]
	path = dbms/leveldb
	url = git@github.com:TUM-DSE/leveldb-memsafedb.git
  branch = memsafedb
[submodule "dbms/sqlite"]
	path = dbms/sqlite
	url = git@github.com:TUM-DSE/sqlite-memsafedb.git
[submodule "dbms/ladybug"]
	path = dbms/ladybug
	url = git@github.com:TUM-DSE/ladybug-memsafedb.git
[submodule "dbms/mysql"]
	path = dbms/mysql
	url = git@github.com:TUM-DSE/mysql-memsafedb.git
[submodule "dbms/ycsb-cpp"]
	path = dbms/ycsb-cpp
	url = https://github.com/ls4154/YCSB-cpp.git
[submodule "microbenchmarks"]
	path = microbenchmarks
	url = https://github.com/TUM-DSE/memsafedb-microbenchmarks.git
