[submodule "datastructures/adaptive-radix-tree"]
	path = datastructures/adaptive-radix-tree
	url = git@github.com:rafaelkallis/adaptive-radix-tree.git
[submodule "datastructures/CLHT"]
	path = datastructures/CLHT
	url = git@github.com:TUM-DSE/CHERI-CLHT.git
  branch = memsafedb
[submodule "datastructures/YCSB"]
	path = datastructures/YCSB
	url = git@github.com:Meandres/YCSB-cpp.git
  branch = memsafedb
[submodule "dbms/duckdb"]
	path = dbms/duckdb
	url = git@github.com:TUM-DSE/duckdb.git
  branch = memsafedb
[submodule "dbms/redis"]
	path = dbms/redis
	url = git@github.com:redis/redis.git
[submodule "dbms/leveldb"]
	path = dbms/leveldb
	url = git@github.com:Meandres/leveldb.git
  branch = memsafedb
